body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-poppins: Poppins;
    --font-roboto: Roboto;

    /* font sizes */
    --font-size-lg: 1.13rem;
    --font-size-3xl-2: 1.39rem;
    --font-size-base-1: 1.01rem;
    --font-size-5xl-9: 1.56rem;
    --font-size-xl: 1.25rem;
    --font-size-5xl: 1.5rem;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: #fafafb;
    --text-primary: rgba(0, 0, 0, 0.87);
    --color-gray-200: rgba(0, 0, 0, 0.7);
    --color-black: #000;
    --color-gainsboro: #d8dadc;

    /* Gaps */
    --gap-165xl: 11.5rem;
    --gap-549xl: 35.5rem;
    --gap-19xl: 2.38rem;
    --gap-xl: 1.25rem;
    --gap-13xl: 2rem;
    --gap-17xl: 2.25rem;
    --gap-44xl: 3.94rem;

    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-19xl: 2.38rem;
    --padding-24xl: 2.69rem;
    --padding-8xl: 1.69rem;
    --padding-6xl: 1.56rem;
    --padding-9xl: 1.75rem;
    --padding-5xl: 1.5rem;
    --padding-4xl: 1.44rem;
    --padding-9xs: 0.25rem;

    /* Border radiuses */
    --br-81xl: 100px;
    --br-19xl-8: 38.8px;
    --br-base-6: 15.6px;
}